/* line 4, ../compass/sass/style.scss */
#total-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}

/* line 11, ../compass/sass/style.scss */
#header {
  background-color: #c3c3c3;
  height: 84px;
}
/* line 14, ../compass/sass/style.scss */
#header #float-left {
  float: left;
  width: 50%;
}
/* line 17, ../compass/sass/style.scss */
#header #float-left button {
  margin: 20px;
}
/* line 21, ../compass/sass/style.scss */
#header #float-right {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 24, ../compass/sass/style.scss */
#header #float-right button {
  margin: 20px;
}

/* line 32, ../compass/sass/style.scss */
#register-wrapper, #login-wrapper {
  margin-bottom: 40px;
  padding: 20px;
}
/* line 35, ../compass/sass/style.scss */
#register-wrapper .error, #login-wrapper .error {
  color: red;
}
/* line 38, ../compass/sass/style.scss */
#register-wrapper #heading, #login-wrapper #heading {
  text-align: center;
  color: #001966;
  margin-bottom: 40px;
}
/* line 43, ../compass/sass/style.scss */
#register-wrapper .register, #register-wrapper .login, #login-wrapper .register, #login-wrapper .login {
  background-color: #e6e6e6;
  padding: 40px;
  width: 40%;
  margin: auto;
}
/* line 48, ../compass/sass/style.scss */
#register-wrapper .register h2, #register-wrapper .login h2, #login-wrapper .register h2, #login-wrapper .login h2 {
  font-size: 36px;
  color: #001966;
}
/* line 52, ../compass/sass/style.scss */
#register-wrapper .register #register-heading, #register-wrapper .register #login-heading, #register-wrapper .login #register-heading, #register-wrapper .login #login-heading, #login-wrapper .register #register-heading, #login-wrapper .register #login-heading, #login-wrapper .login #register-heading, #login-wrapper .login #login-heading {
  text-align: center;
}
/* line 55, ../compass/sass/style.scss */
#register-wrapper .register .button-holder, #register-wrapper .login .button-holder, #login-wrapper .register .button-holder, #login-wrapper .login .button-holder {
  text-align: center;
}
/* line 57, ../compass/sass/style.scss */
#register-wrapper .register .button-holder button, #register-wrapper .login .button-holder button, #login-wrapper .register .button-holder button, #login-wrapper .login .button-holder button {
  margin-top: 20px;
  width: 50%;
}

/* line 66, ../compass/sass/style.scss */
#footer-wrapper {
  height: 84px;
  background-color: #c3c3c3;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

/* line 85, ../compass/sass/style.scss */
body {
  background-color: #525252;
  background-size: cover;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #666;
}

/* line 96, ../compass/sass/style.scss */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 101, ../compass/sass/style.scss */
.centered-form {
  margin-top: 60px;
}

/* line 105, ../compass/sass/style.scss */
.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* line 110, ../compass/sass/style.scss */
h1#title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 3.2em;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding-top: 180px;
  max-width: 300px;
  text-align: center;
  position: relative;
  top: 0px;
}

/* line 124, ../compass/sass/style.scss */
h1#title span span {
  font-weight: 400;
}

/* line 128, ../compass/sass/style.scss */
h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.4em;
  line-height: 2.8em;
}

/* line 137, ../compass/sass/style.scss */
a {
  text-decoration: none;
  color: #666;
}

/* line 142, ../compass/sass/style.scss */
a:hover {
  color: #aeaeae;
}

/* line 146, ../compass/sass/style.scss */
p.small {
  font-size: 0.8em;
  margin: 20px 0 0;
}

/* Layout */
/* line 153, ../compass/sass/style.scss */
.container {
  margin: auto;
}

/* line 157, ../compass/sass/style.scss */
.top {
  margin: 0;
  padding: 0;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}

/* line 167, ../compass/sass/style.scss */
.login-box {
  background-color: white;
  max-width: 340px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* line 179, ../compass/sass/style.scss */
.login-box .box-header {
  background-color: #665851;
  margin-top: 0;
  border-radius: 5px 5px 0 0;
}

/* line 185, ../compass/sass/style.scss */
.login-box label {
  font-weight: 700;
  font-size: .8em;
  color: #888;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2em;
}

/* line 194, ../compass/sass/style.scss */
.login-box input {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: .9em;
  color: #888;
}

/* line 203, ../compass/sass/style.scss */
.login-box input:focus {
  outline: none;
  border-color: #665851;
  transition: 0.5s;
  color: #665851;
}

/* line 210, ../compass/sass/style.scss */
.login-box button {
  margin-top: 0px;
  border: 0;
  border-radius: 2px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 1px;
  background-color: #665851;
  cursor: pointer;
  outline: none;
}

/* line 225, ../compass/sass/style.scss */
.login-box button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* line 230, ../compass/sass/style.scss */
.login-box button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* line 235, ../compass/sass/style.scss */
.selected {
  color: #665851 !important;
  transition: 0.5s;
}

/* Animation Delay */
/* line 241, ../compass/sass/style.scss */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

/* line 246, ../compass/sass/style.scss */
.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

/* line 251, ../compass/sass/style.scss */
#login-header {
  text-align: center;
  font-size: 20px;
}

/* line 256, ../compass/sass/style.scss */
.panel-heading {
  height: 47px;
}

/* line 260, ../compass/sass/style.scss */
.panel-title {
  text-align: center;
}

/* line 264, ../compass/sass/style.scss */
.form-box {
  margin-left: auto;
  margin-right: auto;
}
